<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>SuperService</title>
</head>

<body>
    <h1>SuperService</h1>
    <p>Welcome to SuperService, the best service in the world!</p>
    <p>Here you can find the best services for your needs.</p>
    <p>Service collections:<br>
        <table>
        <tr><th>No</th><th>Name</th><th>Endpoint</th></tr>
            {% for res in result %}
        <tr><td>{{ res.id }}</td><td>{{ res.name }}</td><td>{{ res.endpoint }}</td></tr>
        {% endfor %}
        </table>

    <p>Polls questions
    <table>
        <tr>
            <th>No</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for res in question %}
        <tr>
            <td>{{ res.id }}</td>
            <td>{{ res.question }}</td>
            <td>{{ res.answer }}</td>
        </tr>
        {% endfor %}
    </table>
    </p>
</body>

</html>